<launch>
  <!-- <arg name="model" /> -->
  <arg name="gui" default="False" />
  <param name="robot_description"
         textfile="$(find raybot_description)/urdf/raybot.urdf" />
  <param name="use_gui" value="$(arg gui)" />

  <!-- Publish the robot state -->
  <node name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher">
    <param name="publish_frequency" value="100.0"/>
  </node>

  <node name="joint_state_publisher"
        pkg="joint_state_publisher"
        type="joint_state_publisher">
    <param name="rate" value="100.0"/>
  </node>
</launch>
